.banner
  background: url('../assets/bg.svg') no-repeat
  background-size: cover
  box-sizing: border-box
  text-align: center
  height:835px

  &__header
    display: flex
    justify-content: center
    align-items: center

  &__logo,
  &__event-logo
    padding:20px
    height: 52px