$main-font-family: 'Pari-Match Regular'
$primary-color: #F8FF13
$secondary-color: #FFFFFF
    
.bg_3

    background: url('../assets/bg_03.svg') no-repeat center center / cover
    box-sizing: border-box
    text-align: center
    height:800px
    width: 100%
    background-color:#E72687


.maximize
    padding-top: 20px
    display: flex
    justify-content: center
    align-items: center
    color: $primary-color
    font-family:$main-font-family
    leading-trim: both
    text-edge: cap
    text-align: center
    letter-spacing: -0.02em
    text-transform: uppercase
    font-style: italic
    font-weight: 600
    
.choose-try
    max-width: 280px
    margin: auto
    background-color:$primary-color
  

    padding: 20px 0
    border-radius:15px
    border:4px solid #130655


.number
    font-size:80px
    margin-right:8px
    margin: 0

.choose-try-children
    font-family:$main-font-family
    display: flex 
    justify-content: center
    align-items: center
    font-size:24px
    

.ch-tr
    padding:8px 20px
.hi-pa
    background-color: #E72687
    padding:8px 20px
    color:$secondary-color
.od-be
    background-color: $secondary-color
    padding:8px 20px







